{
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          }
        ]
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/release-notes-generator",
    {
      "npmPublish": false
    }
  ],
  "branches": [
    "+([0-9])?(.{+([0-9],x}).x",
    "main",
    "next",
    "next-major",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ]
}